{% extends 'base.html.twig' %}

{% block title %}Afficher toute mes photos{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Afficher toutes mes photos</h1>
    {{ dump(picture)}}
    <twig:BootstrapButton path="{{ path('app_picture_create')}}" text="Ajouter une photo" type="success" />
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for pictures in picture %}
            <div class="col mb-4">
                <twig:BootstrapCard
                title="{{ pictures.description }}"
                imgSrc="{{ pictures.filename }}"
                btnLink="{{ path('app_picture_show', {id:pictures.id}) }}"
                btnLinkEdit="{{ path('app_picture_edit', {id:pictures.id}) }}"
                btnLinkDelete="{{ path('app_picture_delete', {id:pictures.id}) }}"
                />
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
