{% extends 'base.html.twig' %}

{% block title %}Détails d'un événement{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Détails d'un événement {{ evenement.id }}</h1>
    {{ dump(evenement) }}

    {% if not evenement.pictures is empty %}
        <ul><b>Photo(s) : </b>  
            {% for picture in evenement.pictures %}
                <li>{{ picture.filename }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>{{ evenement.title }}</p>
    <twig:BootstrapButton path="{{ path('app_evenement')}}" text="Retour" type="success" />
</div>
{% endblock %}