{% extends 'base.html.twig' %}

{% block title %}Afficher tous mes utilisateur{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Afficher tous mes utilisateur</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for users in user %}
              <tr>
                <th scope="row">{{ users.id}}</th>
                <td>{{ users.email}}</td>
                <td>{{ users.firstname}}</td>
                <td>{{ users.name}}</td>
                <td><twig:BootstrapButton path="{{ path('app_user_delete', {id:users.id})}}" text="Supprimer" type="danger" /></td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
